.main {
  padding: 40px 0;
  background-color: rgba(55, 45, 34, 1);
  height: 200px;
  color: #fff;
}

.center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Logopequeno {
  display: flex;
  height: 125px;
  width: 125px;
}

.direito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.distanceText {
  margin-top: 20px;
}

.redes{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;

}

.funcion{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}