.corpo_container {
  min-height: 400px;
  padding: 40px 0;
  max-width: 960px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.corpo_container section {
  width: 400px;
  font-size: 20px;
  margin-top: 40px;
}

.corpo_container section span {
  background-color: rgba(55, 45, 34, 1);
  color: #fff;
  padding: 10px;
}

.corpo_container section p {
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.corpo_container h3 {
  font-size: 25px;
}

.corpo_container section img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 30px;
  padding-left: 5px;
}

.secao1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
  justify-content: center;
  align-items: center;
}

.imgMural {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.title1 {

}

.title2 {
  display: flex;
  align-items: center;
  justify-content: center;
}